.main{
	background:#fff;
	width:730px;
	margin:0 auto;
	overflow:hidden;
	padding:10px;
}
body{
	background-color:#f3f3f3;
	
}
.form-container{
	width:300px;
	margin:0 auto;
}
.page-title{
	text-align:center;
	font-weight:bold
}
.logo{
	width:100px;
}

.biglogo{
	width:200px;
	
}
.image{
	text-align:center;
}
.form-container1{
	width:300px;
	margin:0 auto;
}