{% extends 'base.html' %}
{% block header %}
	<h1>成绩导入</h1>
{% endblock %}
{% block content %}
<div class='row'>
<div class="box box-info">
	<div class="box-body">
		<div class="table-responsive">
		<script>
		function test(num)
		{
		  var reg = /^((?!0)\d{1,2}|100)$/;
		  if(!num.match(reg)){
		   return false;
		  }else{
		   return true;
		  }
		 }
		 </script>
		<table class="table no-margin">
		<form action='{{ url_for('info.importScore',cid=cid)}}' method="post">
		<table class="table no-margin">
			<thead>
				<th>学号</th>
        		<th>姓名</th>
				<th>平时成绩</th>
				<th>期末成绩</th>
			</thead>
			<tbody>
			{% for student in students %}
			<tr>
				<td>{{student['sid']}}</td>
				<td>{{student['name']}}</td>
				<td><input type="text" name="{{student['sid']}}" value="{{student['dailyScore']}}" onkeyup="value=test(value)?value:''" size=6 required/> </td>
				<td><input type="text" name="{{student['name']}}" value="{{student['finalExamScore']}}"  onkeyup="value=test(value)?value:''" size=6 required/></td>
			</tr>
			{% endfor %}
			</tbody>
		</table>
		<div align="center"><input type="submit" value="确认" name="submit"/></div>
		</form>
		</div>
	</div>
<div align="center"><button><a href="{{ url_for('info.updateScore') }}">返回</a></button></div>
</div>
</div>
{% endblock %}