{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}登录{% endblock %}</h1>
{% endblock %}

{% block content %}
  <script src="https://ssl.captcha.qq.com/TCaptcha.js"></script>
  <form id="myform" method="post">
    <label for="username">NetID</label>
    <input name="username" id="username" required>
    <label for="password">密码</label>
    <input type="password" name="password" id="password" required>
    <input type="submit" volue="Submit">
  </form>
  <button style="width:310px;height:40px;" id="TencentCaptcha" data-appid="2027467746" data-cbfn="callback">验证码登录</button>
  <script>
  window.callback = function(res){
      console.log(res)
      // res（用户主动关闭验证码）= {ret: 2, ticket: null}
      // res（验证成功） = {ret: 0, ticket: "String", randstr: "String"}
      if(res.ret === 0){
          document.getElementById("myform").submit();
      }
  }
  </script>
{% endblock %}
