{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}学生成绩{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('info.create') }}">录入成绩</a>
    <a class="action" href="{{ url_for('info.createCourse') }}">添加课程</a>
  {% endif %}
{% endblock %}

{% block content %}
  {% for post in scores %}
    <article class="post">
      <header>
        <div>
          <h1>{{ post['cname'] }}</h1>
        </div>
        {% if g.user['sid'] == post['sid'] %}
          <a class="action" href="{{ url_for('info.update', sid=post['sid']) }}">修改成绩</a>
        {% endif %}
      </header>
      <p class="body">{{ post['score'] }}</p>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}
