{% extends 'base.html' %}
{% block header %}
<h1>成绩查询</h1>
{% endblock %}
{% block content %}
      <div class="row">
        <div class="col-md-12">
          <div class="box">

            <!-- /.box-header -->
            <div class="box-body">
              <div class="row">
                  <div class="col-md-8">
                    <div class="box box-primary">
                      <div class="box-header with-border">
                          <h3 class="box-title">公告栏</h3>

                      </div>
                      <!-- /.box-header -->
                      <div class="box-body">
                          <ul class="products-list product-list-in-box">
                              <li class="item">
                                  <div class="product-img">
                                      <img src="static/dist/img/default-50x50.gif" alt="Product Image">
                                  </div>
                                  <div class="product-info">
                                      <a href="javascript:void(0)" class="product-title">教务部
                                          <span class="label label-warning pull-right">2019-1-29</span></a>
                                      <span class="product-description">
                            关于2018学年第二学期（春季学期）成绩上传事项
                        </span>
                                  </div>
                              </li>
                              <!-- /.item -->
                              <li class="item">
                                  <div class="product-img">
                                      <img src="static/dist/img/default-50x50.gif" alt="Product Image">
                                  </div>
                                  <div class="product-info">
                                      <a href="javascript:void(0)" class="product-title">教务部
                                          <span class="label label-info pull-right">2019-1-09</span></a>
                                      <span class="product-description">
                            教务部关于2018学年春季学期课程登记与安排的通告
                        </span>
                                  </div>
                              </li>
                              <!-- /.item -->
                              <li class="item">
                                  <div class="product-img">
                                      <img src="static/dist/img/default-50x50.gif" alt="Product Image">
                                  </div>
                                  <div class="product-info">
                                      <a href="javascript:void(0)" class="product-title">资讯管理学院教务处 <span
                                              class="label label-danger pull-right">2019-1-19</span></a>
                                      <span class="product-description">
                          资讯管理学院课程成绩上传与审核通知
                        </span>
                                  </div>
                              </li>
                              <!-- /.item -->
                          </ul>
                      </div>
                      <!-- /.box-body -->
                      <div class="box-footer text-center">
                          <a href="javascript:void(0)" class="uppercase">查看所有公告</a>
                      </div>
                      <!-- /.box-footer -->
                  </div>
                  </div>
                <!-- /.col -->
                  <div class="col-md-4">
                    <div class="box box-warning direct-chat direct-chat-warning">
                      <div class="box-header with-border">
                          <h3 class="box-title">消息列表</h3>

                      </div>

                      <!-- /.box-header -->
                      <div class="box-body">
                          <!-- Conversations are loaded here -->
                          <div class="direct-chat-messages">
                              <!-- Message. Default to the left -->
                              {% for notice in notices %}
                                 <div class="direct-chat-msg">
                                    <div class="direct-chat-info clearfix">
                                        <span class="direct-chat-name pull-left">资管{{ notice['name'] }}老师</span>
                                     </div>
                                     <img class="direct-chat-img" src="static/dist/img/user1-128x128.jpg" alt="message user image">
                                     <div class="direct-chat-text">
                                         {{ notice['courseyear'] }}年{{ notice['cname'] }}课程成绩已经上传，教务{{ notice['scoreReviewStatus'] }}！
                                     </div>
                                 </div>
                              {% endfor %}
                          </div>
                          <!--/.direct-chat-messages-->

                          <!-- Contacts are loaded here -->
                          <div class="direct-chat-contacts">
                              <ul class="contacts-list">
                                  <li>
                                      <a href="#">
                                          <img class="contacts-list-img" src="static/dist/img/user1-128x128.jpg" alt="User Image">

                                          <div class="contacts-list-info">
                                <span class="contacts-list-name">
                                  Count Dracula
                                  <small class="contacts-list-date pull-right">2/28/2015</small>
                                </span>
                                              <span class="contacts-list-msg">How have you been? I was...</span>
                                          </div>
                                          <!-- /.contacts-list-info -->
                                      </a>
                                  </li>
                                  <!-- End Contact Item -->
                                  <li>
                                      <a href="#">
                                          <img class="contacts-list-img" src="static/dist/img/user7-128x128.jpg" alt="User Image">

                                          <div class="contacts-list-info">
                                <span class="contacts-list-name">
                                  Sarah Doe
                                  <small class="contacts-list-date pull-right">2/23/2015</small>
                                </span>
                                              <span class="contacts-list-msg">I will be waiting for...</span>
                                          </div>
                                          <!-- /.contacts-list-info -->
                                      </a>
                                  </li>
                                  <!-- End Contact Item -->
                                  <li>
                                      <a href="#">
                                          <img class="contacts-list-img" src="static/dist/img/user3-128x128.jpg" alt="User Image">

                                          <div class="contacts-list-info">
                                <span class="contacts-list-name">
                                  Nadia Jolie
                                  <small class="contacts-list-date pull-right">2/20/2015</small>
                                </span>
                                              <span class="contacts-list-msg">I'll call you back at...</span>
                                          </div>
                                          <!-- /.contacts-list-info -->
                                      </a>
                                  </li>
                                  <!-- End Contact Item -->
                                  <li>
                                      <a href="#">
                                          <img class="contacts-list-img" src="static/dist/img/user5-128x128.jpg" alt="User Image">

                                          <div class="contacts-list-info">
                                <span class="contacts-list-name">
                                  Nora S. Vans
                                  <small class="contacts-list-date pull-right">2/10/2015</small>
                                </span>
                                              <span class="contacts-list-msg">Where is your new...</span>
                                          </div>
                                          <!-- /.contacts-list-info -->
                                      </a>
                                  </li>
                                  <!-- End Contact Item -->
                                  <li>
                                      <a href="#">
                                          <img class="contacts-list-img" src="static/dist/img/user6-128x128.jpg" alt="User Image">

                                          <div class="contacts-list-info">
                                <span class="contacts-list-name">
                                  John K.
                                  <small class="contacts-list-date pull-right">1/27/2015</small>
                                </span>
                                              <span class="contacts-list-msg">Can I take a look at...</span>
                                          </div>
                                          <!-- /.contacts-list-info -->
                                      </a>
                                  </li>
                                  <!-- End Contact Item -->
                                  <li>
                                      <a href="#">
                                          <img class="contacts-list-img" src="static/dist/img/user8-128x128.jpg" alt="User Image">

                                          <div class="contacts-list-info">
                                <span class="contacts-list-name">
                                  Kenneth M.
                                  <small class="contacts-list-date pull-right">1/4/2015</small>
                                </span>
                                              <span class="contacts-list-msg">Never mind I found...</span>
                                          </div>
                                          <!-- /.contacts-list-info -->
                                      </a>
                                  </li>
                                  <!-- End Contact Item -->
                              </ul>
                              <!-- /.contatcts-list -->
                          </div>
                          <!-- /.direct-chat-pane -->
                      </div>
                      <!-- /.box-body -->
                      <div class="box-footer">
                          <form action="#" method="post">
                              <div class="input-group">
                                  <input type="text" name="message" placeholder="Type Message ..." class="form-control">
                                  <span class="input-group-btn">
                            <button type="button" class="btn btn-warning btn-flat">Send</button>
                          </span>
                              </div>
                          </form>
                      </div>
                      <!-- /.box-footer-->
                  </div>
                  </div>
                <!-- /.col -->
              </div>
              <!-- /.row -->
            </div>
            <!-- ./box-body -->

            <!-- /.box-footer -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->

        <!-- 成绩显示栏 -->
        <div class="row">
            <div class="col-md-12">
                <div class="box">

                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="tips">
                            <h5>使用提示：</h5>
                            <ol>
                                <li>学年不选，学期不选，即可查询所有科目的成绩。</li>
                                <li>在成绩查询结果表格，点击课程名称，可将该课程置灰，表格顶部总学分及总绩点实时变动，实现自定义计算绩点功能(比如置灰所有公选科目)。</li>
                                <li>在成绩查询结果表格，点击 该科目的成绩，即可查询该科目的具体分项成绩，比如平时分+期末分，以及具体权值。</li>
                            </ol>
                        </div>
                        <!-- 成绩筛选 -->
                        <div class="grade_select" style="padding:20px">
                            <!-- 培养类型 -->
                            <form method="post" style="height: 50px;">
                                <span style="top: auto;">条件筛选：</span>
                                <span class="div_cols" style="position: relative;left: 1%;top: auto;">
                                        <label>课程类别：</label>
                                        <span id="grade_slec_1"><select name="coursetype" id=""><option value="" selected="selected">--请选择--</option> <option value="主修">主修</option> <option value="辅修">辅修</option></select></span>
                                    </span>
                                <!-- 学年 -->
                                <span class="div_cols" style="position: relative;left: 5%;">
                                        <label>学年：</label>
                                        <span id="grade_slec_2"><select name="courseyear" id=""><option value="" selected="selected">--请选择--</option> <option value="2019">2018-2019</option> <option value="2018">2017-2018</option> <option value="2017">2016-2017</option></select></span>
                                    </span>
                                <!-- 学期 -->
                                <span class="div_cols" style="position: relative;left: 9%;">
                                        <label>学期：</label>
                                        <span id="grade_slec_3"><select name="courseterm" id=""><option value="" selected="selected">--请选择--</option> <option value="1">第一学期</option> <option value="2">第二学期</option> <option value="3">第三学期</option></select></span>
                                    </span>
                                <!-- 查询 -->
                                <span class="div_cols search-bot" style="position: relative;left: 15%;top: 0px;">
                                        <button type="submit" class="btn search_btn ng-binding" id="btn_refer" ng-disabled="classroomForm.$invalid">
                                            <span class="fa fa-search refer"></span>查询
                                        </button>
                                    </span>
                            </form>
                        </div>

                        <!-- 成绩显示 -->
                        <div class="box box-info">
                            <!-- /.box-header -->
                            <div class="box-body">
                                <div class="table-responsive">
                                    <table class="table no-margin">
                                        <thead>
                                        <tr>
                                            <th>培养类别</th>
                                            <th>课程名称</th>
                                            <th>授课教师</th>
                                            <th>学年</th>
                                            <th>学期</th>
                                            <th>学分</th>
                                            <th>成绩</th>
                                            <th>绩点</th>
                                            <th>成绩状态</th>
                                            <th>考试情况</th>
                                            <th>申诉</th>
<!--                                            <th>通过情况</th>-->
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for course in courses %}
                                        <tr>
                                            <td>{{ course['coursetype']}}</td>
                                            <td>{{ course['cname'] }}</td>
                                            <td>{{ course['name'] }}</td>
                                            <td>{{ course['courseyear'] }}</td>
                                            <td>{{ course['courseterm'] }}</td>
                                            <td>{{ course['coursepoint'] }}</td>
                                            <td>{{ course['score'] }}</td>
                                            <td>{{ course['gpa'] }}</td>
                                            <td>{{ course['st'] }}</td>
                                            <td>{{ course['studentExamStatus'] }}</td>
                                            <td><a href="proposal" class="myButton">申诉</a></td>
                                        </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.table-responsive -->
                            </div>
                            <!-- /.box-body -->
                            <!-- /.box-footer -->
                        </div>

                    </div>
                </div>
            </div>
        </div>



      <!-- 成绩基本概览 -->
      <div class="row">
        <!-- Left col -->
        <div class="col-md-8">
          <!-- MAP & BOX PANE -->
          <div class="box box-success">
            <div class="box-header with-border">
              <h3 class="box-title">成绩走势</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding">
              <div class="row">
                <div class="col-md-9 col-sm-8">
                  <div class="pad">
                    <!-- Map will be created here -->
                    <div id="world-map-markers" style="height: 325px;"></div>
                  </div>
                </div>
                <!-- /.col -->
                <div class="col-md-3 col-sm-4">
                  <div class="pad box-pane-right bg-green" style="min-height: 280px">
                    <div class="description-block margin-bottom">
<!--                      <div class="sparkbar pad" data-color="#fff">90,70,90,70,75,80,70</div>-->
                      <h5 class="description-header">综合绩点</h5>
                      <span class="description-text" style="font-size: 24px;">{{scores['avg_coursetype'][0]['gpa']}}</span>
                    </div>
                    <!-- /.description-block -->
<!--                    <div class="description-block margin-bottom">-->
<!--                      <div class="sparkbar pad" data-color="#fff">90,50,90,70,61,83,63</div>-->
<!--                      <h5 class="description-header">30%</h5>-->
<!--                      <span class="description-text">Referrals</span>-->
<!--                    </div>-->
                    <!-- /.description-block -->
                    <div class="description-block">
<!--                      <div class="sparkbar pad" data-color="#fff">90,50,90,70,61,83,63</div>-->
                      <h5 class="description-header">综合排名</h5>
                      <span class="description-text" style="font-size: 24px;">{{scores['avg_coursetype'][0]['coursepoint']}}</span>
                    </div>
                    <!-- /.description-block -->
                  </div>
                </div>
                <!-- /.col -->
              </div>
              <!-- /.row -->
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
          <div class="row">
            <div class="col-md-6">
              <!-- DIRECT CHAT -->

              <!--/.direct-chat -->
            </div>
            <!-- /.col -->

            <!-- /.col -->
          </div>
          <!-- /.row -->

          <!-- TABLE: LATEST ORDERS -->

          <!-- /.box -->
        </div>
        <!-- /.col -->

        <div class="col-md-4">
          <!-- Info Boxes Style 2 -->
          <div class="info-box bg-yellow">
            <span class="info-box-icon">公必</span>

            <div class="info-box-content">
              <span class="info-box-text">平均绩点</span>
              <span class="info-box-number">{{cc['gb']['gp']}}</span>

              <div class="progress">
                <div class="progress-bar" style="width: {{cc['gb']['ttpoint']/33 * 100}}%"></div>
              </div>
              <span class="progress-description">
                    完成学分：{{cc['gb']['ttpoint']}}/33
                  </span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
          <div class="info-box bg-green">
            <span class="info-box-icon">专必</span>

            <div class="info-box-content">
              <span class="info-box-text">平均绩点</span>
              <span class="info-box-number">{{cc['zb']['gp']}}</span>

              <div class="progress">
                <div class="progress-bar" style="width: {{cc['zb']['ttpoint']/64 * 100}}%"></div>
              </div>
              <span class="progress-description">
                    完成学分：{{cc['zb']['ttpoint']}}/64
                  </span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
          <div class="info-box bg-red">
            <span class="info-box-icon">公选</span>

            <div class="info-box-content">
              <span class="info-box-text">平均绩点</span>
              <span class="info-box-number">{{cc['gx']['gp']}}</span>

              <div class="progress">
                <div class="progress-bar" style="width: {{cc['gx']['ttpoint']/16 * 100}}%"></div>
              </div>
              <span class="progress-description">
                    完成学分：{{cc['gx']['ttpoint']}}/16
                  </span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
          <div class="info-box bg-aqua">
            <span class="info-box-icon">专选</span>

            <div class="info-box-content">
              <span class="info-box-text">平均绩点</span>
              <span class="info-box-number">{{cc['zx']['gp']}}</span>

              <div class="progress">
                <div class="progress-bar" style="width: {{cc['zx']['ttpoint']/32 * 100}}%"></div>
              </div>
              <span class="progress-description">
                    完成学分：{{cc['zx']['ttpoint']}}/32
                  </span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->

          <!-- /.box -->

          <!-- PRODUCT LIST -->

          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->


<script src="https://cdn.bootcss.com/echarts/4.2.1-rc1/echarts.common.js"></script>
{#<script src="https://cdn.bootcss.com/echarts/4.2.1-rc1/echarts.simple.js"></script>#}
<script src="http://libs.baidu.com/jquery/1.7.2/jquery.js"></script>
<script type="text/javascript">
    var myChart = echarts.init(document.getElementById('world-map-markers'))
    var url = "{{ url_for('info.term_gpa') }}"
    var url1 = "{{ url_for('info.term_rank') }}"
    var colors = ['#5793f3', '#d14a61', '#675bba'];

    myChart.setOption({
        color: colors,
        tooltip: {
            trigger: 'axis'
        },
        legend: {
            data:['综合绩点', '综合排名']
        },
        grid: {
            left: '1%',
            right: '1%',
            bottom: '5%',
            containLabel: true
        },
        toolbox: {
            feature: {
                saveAsImage: {}
            }
        },
        yAxis: [
            {
                type: 'value',
                name:'综合绩点',
                axisTick: {
                    alignWithLabel: true
                },
                axisLine: {
                    onZero: false,
                    lineStyle: {
                        color: colors[1]
                    }
                },
                min:function(value) {
                    return value.min - 0.3;
                },
                max: function(value) {
                    return value.max + 0.3;
                },

            },
            {
                type: 'value',
                name:'综合排名',
                axisTick: {
                    alignWithLabel: true
                },
                axisLine: {
                    onZero: false,
                    lineStyle: {
                        color: colors[0]
                    }
                },
                minInterval: 1,
                min:function(value) {
                    return 0.9*value.min ;
                },
                max: function(value) {
                    return 1.1*value.max;
                },

            }
        ],
        xAxis: [
            {
                type: 'category',
                name:'学年-学期',
                nameLocation:'middle',
                nameGap:23,
                data: ["2017-1", "2017-2", "2018-1", "2018-2", "2019-1"]
            }
        ],
        series: [
            {
                name:'综合排名',
                type:'line',
                yAxisIndex:1,
                data:[5, 15, 13, 9, 27]
            },
            {
                name:'综合绩点',
                type:'line',
                yAxisIndex:0,
                data:[3.8,3.9,4.0,3.9,3.5]
            },

        ]
    });
    myChart.showLoading();
    $.getJSON(url).done(function (json) {
        myChart.hideLoading();
        gpa = json.gpa;
        myChart.setOption({
            series: [{
                name: '综合绩点',
                data: gpa
            }]
        })
    })
    $.getJSON(url1).done(function (json) {
        myChart.hideLoading();
        rank = json.rnk;
        myChart.setOption({
            series: [{
                name: '综合排名',
                data: rank
            }]
        })
    })

    window.onresize = function(){
        myChart.resize();
    }
</script>

{% endblock %}

{% block jsfile%}
{% endblock %}
