{% extends 'base.html' %}

{% block header %}
<h1>成绩申诉</h1>
{% endblock %}

{% block content %}
<!--<form method="post">-->
<!--	<select name="course">-->
<!--		<option value=“" selected="selected">请选择课程</option>-->
<!--		{% for course in courses %}-->
<!--		<option value="{{ course['cid']  }}">{{ course['cname']  }}</option>-->
<!--		{% endfor %}-->
<!--	</select>-->
<!--	<label>申诉原因</label>-->
<!--	<textarea rows="15" cols="45" name="reason" >-->
<!--		请输入你申请成绩申诉的原因-->
<!--	</textarea>-->
<!--	<button>提交成绩申诉</button>-->
<!--</form>-->
<div class="box box-info">
	<div class="box-header">
		<i class="fa fa-envelope"></i>

		<h3 class="box-title">成绩申诉表单</h3>
		<!-- tools box -->
		<!-- /. tools -->
	</div>
	<div class="box-body">

		<form method="post">
			<div class="form-group">
				<input type="text" class="form-control" name="course" placeholder="申诉课程名称">
			</div>
			<div class="form-group">
				<input type="text" class="form-control" name="teacher" placeholder="课程教师">
			</div>
			<div>
                  <textarea class="textarea" name="reason" placeholder="在此编辑申诉理由.."
							style="width: 100%; height: 125px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
			</div>

			<div class="box-footer clearfix">
				<button type="submit" class="pull-right btn btn-default"  id="sendEmail">提交申诉
					<i class="fa fa-arrow-circle-right"></i></button>
			</div>
		</form>
	</div>

</div>

{% endblock %}
