{% extends 'base.html' %}

{% block header %}
<h1>我的成绩申诉</h1>
{% endblock %}

{% block content %}
	<div class="box box-info">
		<div class="box-body">
			<div class="table-responsive">
				<table class="table no-margin">
					<thead>
					<tr>
						<th>课程名称</th>
						<th>申诉提交时间</th>
						<th>申诉原因</th>
						<th>被授课教师查看</th>
						<th>被教务老师查看</th>
						<th>申诉回复</th>
						{% if g.user['auth'] == 0 %}
						<th>取消申诉</th>
						{% else %}
						<th>确认审核</th>
						{% endif %}
					</tr>
					</thead>
					<tbody>
					{% for proposal in proposals %}
					<tr>
						<td>{{ proposal['cname'] }}</td>
						<td>{{ proposal['raisedTime'] }}</td>
						<td>{{ proposal['reason'] }}</td>
						{% if proposal['is_checked_by_teacher'] == 0 %}
						<td>未被审核</td>
						{% else  %}
						<td>已经审核</td>
						{% endif %}
						{% if proposal['is_checked_by_dean'] == 0 %}
						<td>未被审核</td>
						{% else  %}
						<td>已经审核</td>
						{% endif %}
						{% if proposal['reply'] == None %}
						<td>无</td>
						{% else  %}
						<td>{{ proposal['reply'] }}</td>
						{% endif %}
						{% set i = proposal['cid'] %}
						{% if g.user['auth'] == 1 %}
						{% set id = proposal['sid'] %}
						<td><a href="{{ url_for('info.reviewProposal',cid=i,sid=id) }}" class="myButton">确认审核</a></td>
						{% else %}
						<td><a href="{{ url_for('info.cancelProposal',cid=i) }}" class="myButton">取消</a></td>
						{% endif %}
					</tr>
					{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>

{% endblock %}


