{% extends 'base.html' %}

{% block header %}
<h1>课程查询</h1>
{% endblock %}

{% block content %}

<form action="/showCourse" method="post">
	学年：<select name="year">
		<option value="" selected="selected">请选择学年</option>
		{%for course in courses%}
		<option value="{{course['courseyear']}}">{{course['courseyear']}}</option>
		{% endfor %}
	</select>
	学期：<select name="term">
		<option value="" selected="selected">请选择学期</option>
		{%for course in courses%}
		<option value="{{course['courseterm']}}">{{course['courseterm']}}</option>
		{% endfor %}
	</select>
	<button>提交</button>
</form>
{% endblock %}
